@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    @if (!string.IsNullOrEmpty(ViewData["UserName"] as string))
    {
        <p>Logged in as: <strong>@ViewData["UserName"]</strong></p>
      
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/Genre/Add" class="nav-link">Genre</a>
                </li>
                <li class="nav-item">
                    <a href="/Author/Add" class="nav-link">Author</a>
                </li>
                <li class="nav-item active">
                    <a href="/Publisher/Add" class="nav-link">Publisher</a>
                </li>

                <li class="nav-item">
                    <a href="/Book/Add" class="nav-link">Book</a>
                </li>
                </ul>
           
                <form id="logoutForm" method="post" action="/Login/Logout">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary">Logout</button>
                </form>
                }
    </div>
